@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: none;
  background-image: url("../img/bg_scroll.png");
  background-size: cover;
}

::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat";
}

.body {
  background-image: url("../img/bg_small.png");
  background-size: cover;
  color: #f3f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1700px;
}

.btn_bg {
  border-radius: 28px;
  background-image: linear-gradient(to right, #8763dd, #43d5ae);
  color: black;
  font-size: 14px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.barreSeparation {
  background-color: #f3f3f4;
  height: 1px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.cliquable {
  display: block;
  height: fit-content;
  width: fit-content;
}

.header {
  display: flex;
  padding-top: 20px;
  height: 80px;
  width: 100%;
}
.header__logo {
  height: 50px;
  width: auto;
  margin: 7px 50px 0 63px;
}
.header__center {
  display: flex;
  position: relative;
  width: calc(100% - 358px);
  margin-right: 40px;
}
.header__center__center1 {
  display: flex;
  position: relative;
  margin-right: auto;
}
.header__center__center1 .center1__recherche {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  max-width: 90px;
  border-radius: 30px;
  background-color: none;
  border: solid #f3f3f4 1px;
  margin-top: 2.5px;
  margin-right: 40px;
}
.header__center__center1 .center1__recherche img {
  margin-top: 2px;
  margin-left: 8px;
  height: 50%;
}
.header__center__center1 .center1__recherche input {
  max-width: 60%;
  height: 100%;
  background: none;
  border: none;
  color: #f3f3f4;
  border-radius: 0 30px 30px 0;
}
.header__center__center1 .center1__boutonArtist {
  height: 40px;
  width: 170px;
  min-width: 130px;
  margin-top: 5px;
  cursor: not-allowed;
}
.header__center__center2 {
  display: flex;
}
.header__center__center2 .center2__lien {
  margin-top: 15px;
  text-decoration: none;
  margin-right: 40px;
  color: #f3f3f4;
  font-weight: 500;
  font-style: italic;
}
.header__center__center2 .center2__lien__last {
  margin-right: 0px;
}
.header__center__center2 .center2__lien:hover {
  font-weight: 800;
}
.header__center .separation1 {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-bottom: 0;
}
.header__boutonSign {
  height: 50px;
  width: 120px;
  min-width: 80px;
  margin-right: 25px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-top: 75px;
  margin-bottom: 15px;
}
.footer__left {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__left__div {
  height: 40px;
  width: 80%;
  border-radius: 30px;
  display: flex;
}
.footer__left__div .email {
  width: 60%;
  height: 100%;
  border-radius: 30px 0 0 30px;
}
.footer__left__div .email input {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #6bbeca;
}
.footer__left__div .subscribe {
  width: 40%;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f4;
  border-radius: 0 30px 30px 0;
  background-image: linear-gradient(to right, #185263, #2b3546);
}
.footer__left__info {
  width: 80%;
  font-size: 10px;
  text-align: center;
  margin: 10px auto;
}
.footer__center {
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__center__nav {
  display: flex;
  width: fit-content;
  margin-bottom: 30px;
}
.footer__center__nav .footer__lien {
  margin-top: 15px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
}
.footer__center__nav .footer__lien:hover {
  color: #f3f3f4;
}
.footer__center__nav .last {
  margin-right: 0px;
}
.footer__center__logos {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 40px;
}
.footer__center__logos img {
  max-height: 100%;
  height: 100%;
  width: auto;
}
.footer__center p {
  margin: 10px 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
}
.footer__right {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__right__div {
  position: relative;
  top: -30px;
  height: 40px;
  width: 80%;
  border-radius: 30px;
  display: flex;
}
.footer__right__div .contact {
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f4;
  border-radius: 30px 0 0 30px;
  background-image: linear-gradient(to left, #185263, #2b3546);
}
.footer__right__div .contactEmail {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  background-color: #6bbeca;
  border-radius: 0 30px 30px 0;
}

/*# sourceMappingURL=common.css.map */
