@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap");
.premPage {
  width: 100%;
  height: fit-content;
  margin-bottom: 150px;
}

h3 {
  font-size: 36px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border: none;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #001927;
  border-radius: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: none;
  font-family: "Montserrat";
}

.body {
  background-image: url("../img/bg_small.png");
  background-size: cover;
  color: #f3f3f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1700px;
  height: auto;
}

.btn_bg {
  border-radius: 28px;
  background-image: linear-gradient(to right, #8763dd, #43d5ae);
  color: black;
  font-size: 14px;
  font-weight: 900;
  border: none;
  cursor: pointer;
}

.barreSeparation {
  background-color: #f3f3f4;
  height: 1px;
  margin: 0 auto;
}

.accueil {
  height: fit-content;
  min-width: 100%;
  padding-bottom: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 50px;
}
.accueil .container {
  overflow: hidden;
  height: fit-content;
}
.accueil .container video {
  width: 100%;
  height: auto;
}
.accueil__bloc {
  border-radius: 54px;
  position: relative;
  left: -40px;
}
.accueil .bloc1 {
  margin-top: 5%;
  width: 7.1%;
  min-width: 7.1%;
  margin-right: 1.4%;
}
.accueil .bloc2 {
  margin-top: 9.4%;
  height: fit-content;
  min-width: 7.1%;
  margin-right: 1%;
}
.accueil .bloc3 {
  margin-top: 13%;
  height: fit-content;
  min-width: 7.1%;
  margin-right: 9.2%;
}
.accueil .bloc4 {
  margin-top: 27%;
  height: fit-content;
  min-width: 7.1%;
  margin-right: 1%;
}
.accueil .bloc5 {
  margin-top: 34%;
  height: fit-content;
  min-width: 25%;
  margin-right: 1%;
}
.accueil .bloc6 {
  margin-top: 3.5%;
  height: fit-content;
  min-width: 7.1%;
}
.accueil .rond3 {
  margin: 13% 1% 0 1%;
  position: relative;
  left: -40px;
  min-width: 7%;
  height: fit-content;
  padding-top: 7%;
}
.accueil .bloc7 {
  margin-top: 7%;
  height: fit-content;
  min-width: 7.1%;
  margin-right: 1.2%;
}
.accueil .bloc8 {
  margin-top: 2%;
  height: fit-content;
  min-width: 7.1%;
  margin-right: 1%;
}
.accueil .bloc9 {
  margin-top: 9.8%;
  height: fit-content;
  min-width: 7.1%;
}
.accueil img {
  width: 100%;
  max-width: 100%;
}
.accueil__div_txt {
  position: absolute;
  width: 42%;
  margin-top: 10%;
  left: 21%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.accueil__div_txt .innovative {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 4vw;
  line-height: 4vw;
}
.accueil__div_txt .innovative__o {
  height: 4.6vw;
  width: 4.6vw;
  border-radius: 2.3vw 2.3vw 2.3vw 2.3vw;
  border: 1vw solid transparent;
  background: linear-gradient(to right, #001927, #001a2d) padding-box, linear-gradient(to right, #8763dd, #43d5ae) border-box;
}
.accueil__div_txt .digital {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 5.2vw;
  font-weight: 700;
  line-height: 8vw;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
}
.accueil__div_txt .digital .rond1 {
  width: 14%;
  padding-top: 14%;
}
.accueil__div_txt .art {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 5.2vw;
  line-height: 5.2vw;
  justify-content: flex-end;
}
.accueil__div_txt .art .rond2 {
  width: 14%;
  padding-top: 14%;
}
.accueil__div_description {
  position: absolute;
  margin-top: 38%;
  left: 39%;
  width: 35%;
}
.accueil__div_description h3 {
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 200;
}

.separation2 {
  width: 36%;
  bottom: -150px;
}

.ecosystem {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 70px 0;
}
.ecosystem__bloc {
  width: 80%;
  height: fit-content;
  padding: 5vw 4vw;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ecosystem__bloc__left {
  width: 48%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ecosystem__bloc__left .title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-bottom: 6px;
  color: #f3f3f4;
}
.ecosystem__bloc__left .title__triangle_left {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.57vw 1vw 0.57vw 0;
  border-color: transparent #f3f3f4 transparent transparent;
}
.ecosystem__bloc__left .title h3 {
  font-size: 44px;
  margin: 0 15px;
}
.ecosystem__bloc__left .title__triangle_right {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.57vw 1vw 0.57vw;
  border-color: transparent transparent transparent #f3f3f4;
}
.ecosystem__bloc__left .title__separation {
  margin-top: 10px;
  width: 80%;
  height: 1px;
  background-image: linear-gradient(to right, #8763dd, #43d5ae);
}
.ecosystem__bloc__left .description {
  width: 80%;
  margin-top: 4vw;
}
.ecosystem__bloc__left .description p {
  margin-bottom: 20px;
  text-align: justify;
  text-justify: inter-word;
}
.ecosystem__bloc__right {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}
.ecosystem__bloc__right img {
  width: 100%;
}

.collection {
  height: fit-content;
  width: 100%;
  margin-top: 50px;
}
.collection__title {
  font-size: 36px;
  width: fit-content;
  color: transparent;
  background-image: linear-gradient(to right, #8763dd, #43d5ae);
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: 5%;
  margin-bottom: 15px;
}
.collection__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  border-style: solid none solid none;
  border-color: #f3f3f4;
  border-width: 1px;
  padding: 15px 5%;
}
.collection__header__left {
  height: fit-content;
  width: fit-content;
  margin-right: auto;
}
.collection__header__left .titles_top {
  display: flex;
  align-items: center;
  height: fit-content;
  margin-bottom: 10px;
}
.collection__header__left .titles_top .collectionArtist {
  font-size: 18px;
  font-weight: 800;
}
.collection__header__left .titles_top .collectionName {
  font-size: 18px;
  font-style: italic;
  font-weight: 900;
}
.collection__header__left .titles_bottom {
  display: flex;
  align-items: center;
  height: fit-content;
  font-size: 20px;
}
.collection__header__left .small_rond_separation {
  height: 0.4vw;
  width: 0.4vw;
  border-radius: 50%;
  background-color: #f3f3f4;
  margin: 0 15px;
}
.collection__header__left .big_rond_separation {
  height: 1.4vw;
  width: 1.4vw;
  border-radius: 50%;
  background-image: linear-gradient(to right, #8763dd, #43d5ae);
  margin-right: 15px;
}
.collection__header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: fit-content;
}
.collection__header__right .logoLien {
  position: relative;
  margin-left: 20px;
}
.collection__header__right .logoLien img {
  width: 50px;
  border-radius: 50%;
}
.collection__header__right .logoLien .popUp {
  visibility: hidden;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  padding: 5px 0;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.25);
}
.collection__header__right .logoLien:hover .popUp {
  visibility: visible;
}
.collection__header__right .div_sep {
  height: 100%;
  width: 1px;
}
.collection__carroussel {
  width: 100%;
  height: fit-content;
  margin: 30px 0;
  overflow: hidden;
}
.collection__carroussel .ligne {
  display: flex;
  align-items: center;
  height: 18vw;
}
.collection__carroussel .ligne img {
  height: 85%;
  width: auto;
  border-radius: 25px;
  margin: 0 5px;
  transition: all 0.4s;
}
.collection__carroussel .ligne img:hover {
  cursor: pointer;
  transform: rotate(20deg);
}
.collection__carroussel .ligne .nftLigne1 {
  position: relative;
  left: -60px;
}
.collection__carroussel .ligne .nftLigne2 {
  position: relative;
  left: -15px;
}

.separation4 {
  width: 36%;
  margin-top: 20px;
}

.services {
  margin-top: 80px;
  height: 2000px;
}
.services h3 {
  margin: 0 auto;
  width: 100%;
  width: fit-content;
  font-size: 36px;
  color: transparent;
  background-image: linear-gradient(to right, #8763dd, #43d5ae);
  background-clip: text;
  -webkit-background-clip: text;
}
.services p {
  width: 80%;
  margin: 40px auto 55px auto;
}
.services__main {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  font-size: 3vw;
  font-weight: 900;
}
.services__main .services_bloc {
  height: 6vw;
  width: 100%;
  padding: 0 3vw;
  border-radius: 45px;
  margin-bottom: 2vw;
  border: solid #f3f3f4 1px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.services__main .services_bloc h4 {
  font-size: 30px;
  margin-left: 40%;
  margin-top: 1.2vw;
}
.services__main .services_bloc p {
  text-align: justify;
  text-justify: inter-word;
  font-size: 12px;
  font-weight: 200;
}
.services__main__left {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}
.services__main__left__1 {
  left: -110%;
  justify-content: flex-end;
  transition: all 0.5s;
}
.services__main__left__1:hover {
  height: 16vw;
}
.services__main__left__2 {
  left: -130%;
}
.services__main__left__3 {
  left: -110%;
  justify-content: flex-end;
  transition: all 0.5s;
}
.services__main__left__3:hover {
  height: 16vw;
}
.services__main__left__4 {
  left: -130%;
  margin-bottom: 0px;
}
.services__main__center {
  width: 4%;
  height: 400px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  position: relative;
  z-index: 15000;
}
.services__main__center .ligneCentrale {
  margin: auto auto;
  height: 90%;
  width: 1px;
  border: none;
  border-right: 1px dashed #f3f3f4;
}
.services__main__center .rond1 {
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  top: 0%;
}
.services__main__center .rond2 {
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  top: 33.3%;
  transform: translate(0%, -33.3%);
}
.services__main__center .rond3 {
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  top: 66.6%;
  transform: translate(0%, -66.6%);
}
.services__main__center .rond4 {
  width: 100%;
  padding-top: 100%;
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  top: 100%;
  transform: translate(0%, -100%);
}
.services__main__center .rond_centre {
  width: 10px;
  height: 10px;
}
.services__main__center .cercle {
  width: 30px;
  height: 30px;
}
.services__main__center .dotted_cercle {
  width: 46px;
  height: 46px;
}
.services__main__right {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
}
.services__main__right__1 {
  right: -130%;
}
.services__main__right__2 {
  right: -110%;
}
.services__main__right__2:hover {
  height: 16vw;
}
.services__main__right__3 {
  right: -130%;
}
.services__main__right__4 {
  right: -110%;
  margin-bottom: 0px;
}
.services__main__right__4:hover {
  height: 16vw;
}

.h1 {
  margin-top: 200px;
  white-space: nowrap;
  text-align: center;
  font-size: 160px;
  font-weight: 900;
  width: 100%;
  overflow: hidden;
}
.h1 h1 {
  position: relative;
  left: -250px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
}
.footer__left {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__left__div {
  height: 40px;
  width: 80%;
  border-radius: 30px;
  display: flex;
}
.footer__left__div .email {
  width: 60%;
  height: 100%;
  border-radius: 30px 0 0 30px;
}
.footer__left__div .email input {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  border-radius: 30px 0 0 30px;
  box-sizing: border-box;
  padding: 0 10px;
  background-color: #6bbeca;
}
.footer__left__div .subscribe {
  width: 40%;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f4;
  border-radius: 0 30px 30px 0;
  background-image: linear-gradient(to right, #185263, #2b3546);
}
.footer__left__info {
  width: 80%;
  font-size: 10px;
  text-align: center;
  margin: 10px auto;
}
.footer__center {
  width: 34%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__center__btn {
  height: 70px;
  width: 250px;
  border-radius: 55px;
  border: 5px solid transparent;
  background: linear-gradient(to right, #06122f, #0a0e2d) padding-box, linear-gradient(to right, #8763dd, #43d5ae) border-box;
  font-size: 20px;
  color: #f3f3f4;
  font-weight: 900;
  margin-bottom: 30px;
}
.footer__center__nav {
  display: flex;
  width: fit-content;
  margin-bottom: 30px;
}
.footer__center__nav .footer__lien {
  margin-top: 15px;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 500;
  color: #f3f3f4;
}
.footer__center__nav .footer__lien:hover {
  color: #f3f3f4;
}
.footer__center__nav .last {
  margin-right: 0px;
}
.footer__center__logos {
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  width: 120px;
  height: 40px;
}
.footer__center__logos img {
  max-height: 100%;
  height: 100%;
  width: auto;
}
.footer__center p {
  margin: 10px 0;
  width: 100%;
  font-size: 10px;
  text-align: center;
}
.footer__right {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__right__div {
  position: relative;
  top: -30px;
  height: 40px;
  width: 80%;
  border-radius: 30px;
  display: flex;
}
.footer__right__div .contact {
  width: 40%;
  height: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: #f3f3f4;
  border-radius: 30px 0 0 30px;
  background-image: linear-gradient(to left, #185263, #2b3546);
}
.footer__right__div .contactEmail {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  color: black;
  justify-content: center;
  background-color: #6bbeca;
  border-radius: 0 30px 30px 0;
}

.rond-type1 {
  margin-right: 20px;
  position: relative;
}
.rond-type1__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13%;
  height: 13%;
  border-radius: 50%;
  background-color: #f3f3f4;
}
.rond-type1__cercle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 42%;
  width: 42%;
  border-radius: 50%;
  border: solid 1px #f3f3f4;
}
.rond-type1__dottedCercle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 62%;
  width: 62%;
  border-radius: 50%;
  border: dashed 1px #f3f3f4;
}
.rond-type1__cercle2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #f3f3f4;
}

.rond-type2 {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  position: relative;
}
.rond-type2__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 19%;
  height: 19%;
  border-radius: 50%;
  background-color: #f3f3f4;
}
.rond-type2__cercle1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 63%;
  width: 63%;
  border-radius: 50%;
  border: solid 1px #f3f3f4;
}
.rond-type2__dottedCercle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: dashed 1px #f3f3f4;
  box-sizing: border-box;
}

@media screen and (min-width: 1700px) {
  .accueil__div_txt .innovative {
    font-size: 70px;
    line-height: 70px;
  }
  .accueil__div_txt .digital {
    font-size: 90px;
    line-height: 130px;
  }
  .accueil__div_txt .art {
    font-size: 90px;
    line-height: 90px;
  }
  .accueil__div_description {
    font-size: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .accueil__div_txt .innovative {
    font-size: 40px;
    line-height: 40px;
  }
  .accueil__div_txt .digital {
    font-size: 50px;
    line-height: 90px;
  }
  .accueil__div_txt .art {
    font-size: 50px;
    line-height: 60px;
  }
  .accueil__div_description {
    font-size: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
