.title_sep {
  width: 25%;
  height: 1px;
  background-image: linear-gradient(to right, #be49df, #43d4af);
  margin: 15px auto 35px auto;
}

.infoBloc {
  position: relative;
  padding: 10px 15px;
  border-radius: 30px;
  width: 40%;
  height: fit-content;
  margin: 150px auto 60px auto;
  background: linear-gradient(to right, #30204e, #1a3850) padding-box, linear-gradient(to right, #be49df, #43d4af) border-box;
  border: 5px solid transparent;
}
.infoBloc h2 {
  font-size: 1.8vw;
  font-weight: 900;
}
.infoBloc h3 {
  margin-bottom: 10px;
  font-size: 1.1vw;
  font-style: italic;
  font-weight: 100;
}
.infoBloc img {
  position: absolute;
  left: 100%;
  top: 10%;
  width: 40%;
  transform: translate(-50%, -50%);
}

.trendyChallenges_title {
  width: fit-content;
  padding: 0 15px;
  height: fit-content;
  margin: 40px auto 0 auto;
  font-size: 1.8vw;
  font-weight: 900;
  color: transparent;
  background-image: linear-gradient(to right, #be49df, #43d4af);
  background-clip: text;
  -webkit-background-clip: text;
}

.trendyChallenges {
  width: 65%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}
.trendyChallenges__bloc {
  min-height: 100%;
  width: 48%;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.5s;
  cursor: pointer;
}
.trendyChallenges__bloc__info {
  width: fit-content;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.trendyChallenges__bloc__info .infoType {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 100%;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.trendyChallenges__bloc__info .infoType img {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
}
.trendyChallenges__bloc__info .infoType h4 {
  margin-left: 15px;
  font-weight: 300;
  font-size: 1vw;
}
.trendyChallenges__bloc__info .infoXP {
  width: 15%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to right, #30204e, #1a3850) padding-box, linear-gradient(to right, #be49df, #43d4af) border-box;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
}
.trendyChallenges__bloc__info .infoXP p {
  height: fit-content;
  font-weight: 700;
  font-size: 12px;
  margin: auto;
}
.trendyChallenges__bloc .bloc__div__flex {
  display: flex;
  align-items: center;
}
.trendyChallenges__bloc__left {
  width: 55%;
}
.trendyChallenges__bloc__left__title {
  padding-top: 15px;
  font-size: 16px;
}
.trendyChallenges__bloc__left__description {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.trendyChallenges__bloc__left__description p {
  max-width: 90%;
  font-size: 12px;
  font-weight: 300;
}
.trendyChallenges__bloc__right {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
}
.trendyChallenges__bloc__right img {
  width: 70%;
}
.trendyChallenges__bloc:hover {
  transform: scale(105%);
}

.main__div {
  margin: 60px 0;
  width: 100%;
  height: 300px;
}
.main__div h4 {
  font-size: 16px;
  width: 100%;
  height: auto;
  text-align: center;
  margin: 20px 0;
}
.main__div p {
  width: 100%;
  text-align: center;
}

.nav {
  width: 40%;
  height: fit-content;
  margin: 10px 0 60px 0;
  position: relative;
  display: flex;
}
.nav__bloc {
  height: fit-content;
  width: 33.33%;
  padding: 5px 15px;
  font-size: 1.8vw;
}
.nav__bloc h5 {
  width: 100%;
  text-align: center;
}
.nav__bloc:hover {
  cursor: pointer;
}
.nav__selection {
  width: 20%;
  height: 2px;
  background-image: linear-gradient(to right, #be49df, #43d4af);
  position: absolute;
  bottom: 0px;
  left: 16.66%;
  transform: translate(-50%, -50%);
  transition: all 1s ease-out;
}

.carroussel {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: flex;
}
.carroussel__section {
  min-width: 100%;
  width: 100%;
  position: relative;
  left: 0px;
  transition: all 1s ease-out;
}

.available {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2.5% 2.5%;
}
.available__bloc {
  height: 200px;
  width: 49%;
  border-radius: 20px;
  padding: 20px 20px;
  background-color: rgba(255, 255, 255, 0.05);
  transition: all 0.5s;
  margin-bottom: 15px;
  cursor: pointer;
}
.available__bloc__info {
  width: fit-content;
  height: 34px;
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}
.available__bloc__info .infoType {
  display: flex;
  align-items: center;
  margin-right: 20px;
  height: 100%;
  width: 45%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 30px;
}
.available__bloc__info .infoType img {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
}
.available__bloc__info .infoType h4 {
  margin-left: 15px;
  font-weight: 300;
  font-size: 1vw;
}
.available__bloc__info .infoXP {
  width: 15%;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(to right, #30204e, #1a3850) padding-box, linear-gradient(to right, #be49df, #43d4af) border-box;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
}
.available__bloc__info .infoXP p {
  height: fit-content;
  font-weight: 700;
  font-size: 12px;
  margin: auto;
}
.available__bloc .bloc__div__flex {
  display: flex;
  align-items: center;
}
.available__bloc__left {
  width: 55%;
}
.available__bloc__left__title {
  padding-top: 15px;
  font-size: 16px;
}
.available__bloc__left__description {
  margin-top: 15px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.available__bloc__left__description p {
  max-width: 90%;
  font-size: 12px;
  font-weight: 300;
}
.available__bloc__right {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
}
.available__bloc__right img {
  width: 70%;
}
.available__bloc:hover {
  transform: scale(105%);
}

.account {
  width: 35%;
  height: fit-content;
  margin: 30px auto;
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #30204e, #1a3850) padding-box, linear-gradient(to right, #be49df, #43d4af) border-box;
  border: 4px solid transparent;
  border-radius: 30px;
  margin-bottom: 50px;
}
.account img {
  width: 30%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 25px;
}
.account .username {
  font-size: 1.2vw;
}
.account .wallet {
  font-weight: 300;
  margin-bottom: 10px;
}
.account__social {
  display: flex;
  width: 12%;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: 30px;
}
.account__social img {
  width: 40%;
}
.account__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.account__info h6 {
  font-size: 1.2vw;
}
.account__info p {
  font-size: 1vw;
  font-weight: 300;
}
.account__barreXP {
  height: 8px;
  width: 100%;
  border-radius: 5px;
  background-image: linear-gradient(to right, #be49df, #43d4af);
  position: relative;
}
.account__barreXP_point {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f3f3f4;
  position: absolute;
  transform: translate(-50%, -30%);
}

.reward__title {
  width: fit-content;
  margin: 30px auto;
  font-size: 2vw;
  color: transparent;
  background-image: linear-gradient(to right, #be49df, #43d4af);
  background-clip: text;
  -webkit-background-clip: text;
}

.rewardBloc {
  width: 80%;
  height: fit-content;
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.08);
  margin: 15px auto;
  border-radius: 25px;
  transition: all 0.3s;
}
.rewardBloc__level {
  height: 10vw;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(to right, #222d48, #222d48) padding-box, linear-gradient(to right, #be49df, #43d4af) border-box;
  border: 8px solid transparent;
}
.rewardBloc__level__info {
  text-align: center;
}
.rewardBloc__level h4 {
  font-size: 1.4vw;
  margin-bottom: 5px;
}
.rewardBloc__level p {
  font-size: 1vw;
}
.rewardBloc__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
  text-align: center;
}
.rewardBloc__info .title {
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 10px;
}
.rewardBloc__info p {
  font-size: 12px;
  font-weight: 300;
}
.rewardBloc img {
  width: 15%;
  height: auto;
  border-radius: 25px;
}
.rewardBloc:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.14);
}

/*# sourceMappingURL=quest.css.map */
