$baseTxt: #f3f3f4;
$bordure: #f3f3f4;

$linear_titre: linear-gradient(to right, #8763dd , #43d5ae); 

.accueil
{
    margin-top: 20px; 
    height: 650px;  
    width: 100%; 
    display: flex;
    align-items: center; 
    padding: 0 20px;
    background-image: url("../img_gallery/bulles3.png");
    background-size: cover;
    margin-bottom: 100px;   
    //background-image: linear-gradient(to right, rgba(0,41,61,0.6), rgba(24,22,72,0.6));
    &__title
    {
        margin-left: 10%;
        max-width: 40%;
        h2
        {
            font-size: 6.5vw;
            font-weight: 900;
        }
        &__gallery
        {
            display: flex;
            align-items: center;
        }
    }
    &__p
    {
        margin-top: 20px;
        font-size: 1vw; 
        font-weight: 400;
        .first 
        {
            margin-bottom: 10px;
        }
        .last
        {
            margin-bottom: 0;  
        }
    }
}

.main
{
    width: 100%;
    margin-bottom: 100px;
    &__artsense
    {
        position: relative; 
        width: 100%;
        margin-bottom: 30px; 
        display: flex;
        align-items: center;
        img
        {
            width: 100%; 
        }  
        &__bloc
        {
            position: absolute;
            right: 10%;
            top: 50%;
            transform: translate(0, -50%); 
            width: 35%; 
            display: flex;
            flex-direction: column;
            align-items: center;
            img
            {
                width: 100%;
            }
            .btn_main
            {
                width: 50%; 
                height: 60px;  
                max-width: 350px;
                margin-top: 30px; 
            }
            .description
            {
                margin-top: 15px; 
                width: 100%;
                padding: 5px 10px;
                text-align: center;
                height: fit-content; 
                border-radius: 30px;
                background: linear-gradient(to right, #30204e, #1a3850) padding-box, $linear_titre border-box;
                border: 4px solid transparent; 
            } 
        }
    }
    &__speedy
    {
        position: relative;
        margin-bottom: 50px; 
        width: 100%;
        .img_bg
        {
            width: 100%;
        }
        &__logo
        {
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translate(0,-50%);
            width: 35%;
            border-radius: 40px;
            height: auto;
        }
        &__bloc
        {
            position: absolute;
            top: 50%;
            left: 10%;
            transform: translate(0,-50%);
            width: 35%;   
            display: flex;
            flex-direction: column;
            align-items: center;
            img
            {
                width: 100%;
            }
            .btn_main
            {
                width: 50%; 
                height: 60px;  
                max-width: 350px;
                margin-top: 30px; 
            }
            .description
            {
                margin-top: 15px; 
                width: 100%;
                height: fit-content; 
                padding: 5px 15px 5px 20px;  
                border-radius: 30px;
                background: linear-gradient(to right, #30204e, #1a3850) padding-box, $linear_titre border-box;
                border: 4px solid transparent;
            }
        }
    }
    &__more
    {
        position: relative;
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        padding-top: 30px;
        padding-bottom: 80px;  
        &__logo
        {
            max-width: 45%;
            border-radius: 60px;
            height: auto;
            margin-right: auto;
        }
        &__bloc
        {
            max-width: 45%;
            width: fit-content;
            height: auto;
            margin: auto auto; 
        }
    }
    .barre2
    {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%,-50%); 
        height: 1px;
        width: 45%;
        background-color: $bordure; 
    }
}