@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');


::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track {
    border: none;
    background-color: transparent; 
} 

::-webkit-scrollbar-thumb
{
    background-color: #001927;
    border-radius: 20px;
}

$baseTxt: #f3f3f4;
$bordure: #f3f3f4;

$linear_titre: linear-gradient(to right, #73cdda, #437b81);

//$linear_titre1: #73cdda;
//$linear_titre2: #437b81;
$linear_btn_footer1: #185263;
$linear_btn_footer2: #2b3546;

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Montserrat"; //font-style: italic; pour l'italic
}

.body
{
    background-image: url("../img/background.svg");
    background-size: cover;    
    color: $baseTxt;  
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-width: 1000px; 
    max-width: 1700px;
}

.btn_bg
{
    border-radius: 28px;
    background-image: linear-gradient(to right, #71c9d7, #478088);
    color: black;
    font-size: 14px;
    font-weight: 900; 
    border: none;
    cursor: pointer;
}

.barreSeparation
{
    background-color: $bordure;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 50px; 
}

.header
{
    display: flex;
    padding-top: 20px;  
    height: 80px;
    width: 100%; 
    &__logo
    {
        height: 50px; 
        width: auto; 
        margin: 7px 50px 0 63px;  
    }
    &__center
    {
        display: flex;
        position: relative; 
        width: calc(100% - 358px);
        &__center1
        {
            display: flex;
            position: relative;
            margin-right: auto; 
            .center1__recherche
            {
                display: flex;
                align-items: center; 
                justify-content: space-between;
                height: 45px;
                max-width: 90px;
                border-radius: 30px;
                background-color: none;
                border: solid $bordure 1px;
                margin-top: 2.5px;
                margin-right: 40px;
                img 
                {
                    margin-top: 2px; 
                    margin-left: 8px; 
                    height: 50%; 
                }
                input
                {
                    max-width: 60%;
                    height: 100%; 
                    background: none;
                    border: none;
                    color: $baseTxt;
                    border-radius: 0 30px 30px 0;
                }
            }
            .center1__boutonArtist
            {
                height: 40px;
                width: 170px;
                min-width: 130px;
                margin-top: 5px; 
                cursor: not-allowed;
            }
        }
        
        &__center2
        {
            display: flex;
            .center2__lien
            {
                margin-top: 15px;
                text-decoration: none;
                margin-right: 40px;
                color: #a7a9ac; 
                font-style: italic;
                &:hover
                {
                    color: $baseTxt;
                }  
            }
        }
        .separation1
        {
            width: 100%;
            position: absolute;
            bottom: 0px;
            margin-bottom: 0;  
        }
    }
    &__boutonSign
    {
        height: 50px;
        width: 120px; 
        min-width: 80px;
        margin-right: 25px; 
    }
}

.accueil
{
    height: fit-content;
    min-width: 100%;  
    padding-bottom: 20px; 
    display: flex;
    position: relative;
    overflow: hidden;
    &__bloc
    {
        border-radius: 54px;
        position: relative;
        left: -40px;
    }
    .bloc1
    {
        margin-top: 5%;
        //height: 75%;
        width: 7.1%;
        min-width: 7.1%;
        margin-right: 1.4%;
        //background-image: url("../img/bloc1_bg.png");
        //background-size: contain   
    }
    .bloc2
    {
        margin-top: 9.4%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 1%;
        //background-image: url("../img/bloc2_bg.png");
        //background-size: contain;
    }
    .bloc3
    {
        margin-top: 13%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 9.2%;
        //background-image: url("../img/bloc3_bg.png");
        //background-size: contain;
    }
    .bloc4
    {
        margin-top: 27%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 1%;
        //background-image: url("../img/bloc4_bg.png");
        //background-size: contain;
    }
    .bloc5
    {
        margin-top: 34%; 
        height: fit-content;
        min-width: 25%;
        margin-right: 1%;
        //background-image: url("../img/bloc5_bg.png");
        //background-size: contain;
    }
    .bloc6
    {
        margin-top: 3.5%;
        height: fit-content;
        min-width: 7.1%;
        //background-image: url("../img/bloc6_bg.png");
        //background-size: contain;
    }
    .rond3
    {
        margin: 13% 1% 0 1%; 
        position: relative;
        left: -40px;
        min-width: 7%;
        height: fit-content;
        padding-top: 7%; 
    }
    .bloc7
    {
        margin-top: 7%;
        //height: 60%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 1.2%;
        //background-image: url("../img/bloc7_bg.png");
        //background-size: contain;
    }
    .bloc8
    {
        margin-top: 2%;
        height: fit-content;
        //height: 86%;
        min-width: 7.1%;
        margin-right: 1%;
        //background-image: url("../img/bloc8_bg.png");
        //background-size: contain;
    }  
    .bloc9
    {
        margin-top: 9.8%;
        height: fit-content;
        //height: 60%;
        min-width: 7.1%;
        //background-image: url("../img/bloc9_bg.png");
        //background-size: contain; 
    }
    img
    {
        width: 100%;
        max-width: 100%;
    }
    &__div_txt
    {
        position: absolute;
        width: 42%;  
        margin-top: 15%;
        left: 21%;  
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
        .innovative
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            font-size: 4vw;
            line-height: 4vw;
            &__o
            {
                height: 4.6vw; 
                width: 4.6vw; 
                //border-style: solid solid solid none;
                border-radius: 2.3vw 2.3vw 2.3vw 2.3vw;        
                border: 1vw solid transparent;
                background: linear-gradient(to right, #001927, #001a2d) padding-box, $linear_titre border-box;
            } 
        }
        .digital 
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            font-size: 5.2vw;
            font-weight: 700; 
            line-height: 8vw;   
            -webkit-text-fill-color: transparent;  
            -webkit-text-stroke-width: 1px; 
            .rond1{
                width: 14%;
                padding-top: 14%;
            }
        }
        .art
        {
            width: 100%; 
            display: flex;
            align-items: center;
            font-size: 5.2vw;
            line-height: 5.2vw;
            justify-content: flex-end;
            .rond2{ 
                width: 14%;
                padding-top: 14%;
            }
        }
    }
    &__div_description
    {
        position: absolute;
        margin-top: 42.5%; 
        left: 39%; 
        width: 45%; 

        font-style: italic;
        font-size: 1.5vw;  
        font-weight: 200; 
    }
}

.separation2
{
    width: 36%;
    bottom: -150px;  
}

.ecosystem
{
    height: fit-content; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 100px 0 0 0; 

    &__bloc
    {
        width: 80%;   
        height: fit-content;
        padding: 5vw 4vw;  
        border-radius: 30px;
        background-color: rgba(255,255,255,0.05);

        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left
        {
            width: 48%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title
            {
                display: flex;
                justify-content: space-between;
                width: 80%;  
                font-size: 2vw;
                margin-bottom: 6px;
                color: #4c40a8;
                &__1 
                {
                    color: $bordure;
                } 
            }
            .description
            {
                max-width: 80%; 
                margin-top: 4vw;  
                p
                {
                    margin-bottom: 20px; 
                }
            }
        }
        &__right 
        {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            img
            {
                width: 100%; 
            }
        }
    }
}

.speedy
{
    height: fit-content; 
    width: 100%;
    margin-top: 120px;  
    &__header
    {
        display: flex;
        align-items: center;
        width: 100%; 
        .right
        {
            margin-left: 3%; 
        }
        &__titre
        {
            display: flex;
            align-items: center;
            height: fit-content;
            width: fit-content;
            h3
            {
                font-size: 2vw;
                margin-right: 15vw; 
            }
            h4
            {
                font-size: 1.4vw;
            }
        }
        &__line
        {
            width: 100%; 
            height: 1px;
            background-color: $bordure;
            margin: 10px 0;
        }
        &__sousTitre
        {
            display: flex;
            align-items: center;
            h5
            {
                font-size: 1.4vw;
            }
            .rond_separation
            {
                width: 1vw;
                height: 1vw;
                border-radius: 50%;
                background-color: $bordure;
                margin: 0 3vw;
            }

        }
    }
    &__carroussel
    {
        width: 100%;
        height: fit-content; 
        margin: 30px 0; 
        overflow: hidden;
        .ligne 
        {
            display: flex;
            align-items: center;
            height: 14vw;
            img
            {
                height: 85%; 
                width: auto; 
                border-radius: 5px; 
                margin: 0 5px;
                transition: all 0.4s; 
                // &:hover
                // {
                //     cursor: pointer;
                //     transform: scale(115%);  
                //     margin: 0 15px;    
                // }
                &:hover
                {
                    cursor: pointer;
                    transform: rotate(20deg);
                }
            }
            .nftLigne1
            {
                position: relative;
                left: -60px;
            }
            .nftLigne2
            {
                position: relative;
                left: -15px;
            }
        }
    }
}

.upcoming
{
    height: fit-content; 
    width: 100%;
    margin-top: 25px;
    &__header
    {
        display: flex;
        align-items: center;
        width: 100%; 
        .right
        {
            margin-left: 3%; 
        }
        &__titre
        {
            display: flex;
            align-items: center;
            height: fit-content;
            width: fit-content;
            h3
            {
                font-size: 2vw;
                margin-right: 15vw; 
            }
            h4
            {
                font-size: 1.4vw;
            }
        }
        &__line
        {
            width: 100%; 
            height: 1px;
            background-color: $bordure;
            margin: 10px 0;
        }
        &__sousTitre
        {
            display: flex;
            align-items: center;
            h5
            {
                font-size: 1.4vw;
            }
            .rond_separation
            {
                width: 1vw;
                height: 1vw;
                border-radius: 50%;
                background-color: $bordure;
                margin: 0 3vw;
            }

        }
    }
    &__carroussel
    {
        width: 100%; 
        margin: 30px 0; 
        .ligne 
        {
            display: flex;
            height: 12vw;   
            margin-bottom: 12px; 
            overflow: hidden;  
            img
            {
                max-height: 100%;
                height: 100%;
                width: auto; 
                border-radius: 5px; 
                margin-right: 10px;
            }
            .nftLigne1
            {
                position: relative;
                left: -60px;
            }
            .nftLigne2
            {
                position: relative;
                left: -15px;
            }
        }
    }
} 

.separation4
{
    width: 36%; 
    margin-top: 20px; 
}

.services
{
    margin-top: 80px; 
    h3
    {
        margin: 0 auto;
        width: 100%;
        width: fit-content;
        font-size: 44px;
        color: transparent;
        background-image: $linear_titre;  
        background-clip: text;
        -webkit-background-clip: text; 
    }
    p
    {
        width: 80%;
        margin: 40px auto 55px auto;
    }
    &__main
    {
        display: flex;
        align-items: center;
        height: fit-content;
        width: 100%;
        font-size: 3vw;   
        font-weight: 900; 
        .services_bloc
        {
            height: 6vw;  
            width: 100%;
            display: flex;
            align-items: center;
            border-radius: 45px;    
            margin-bottom: 2vw;  
            border: solid $bordure 1px;
            box-sizing: border-box;
            padding: 0 50px;
            position: relative;
            transition: all 0.5s;
        }
        &__left
        {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;
            &__1
            {
                left: -110%;
                justify-content: flex-end;
                transition: all 0.5s;
                &:hover
                {
                    height: 16vw; 
                }
            }
            &__2
            {
                left: -130%;
            }
            &__3
            {
                left: -110%;
                justify-content: flex-end;
                transition: all 0.5s;
                &:hover
                {
                    height: 16vw; 
                }
            }
            &__4
            {
                left: -130%;
            }
        }
        &__center
        {
            width: 4%;
            height: 80%; 
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            overflow: hidden; 
            .ligneCentrale
            {
                margin: 0 auto;
                height: 100%;
                width: 1px;
                border: none; 
                border-right: 1px dashed $bordure; 
            }
            .rond1
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box;
                position: absolute;
                margin: 0 auto; 
                top: 0%;
            }
            .rond2
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box;
                position: absolute;
                margin: 0 auto; 
                top: 33.3%;
                transform: translate(0%,-33.3%);    
            }
            .rond3
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box;
                position: absolute;
                margin: 0 auto; 
                top: 66.6%;
                transform: translate(0%,-66.6%);
            }
            .rond4
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box; 
                position: absolute;
                margin: 0 auto; 
                top: 100%; 
                transform: translate(0%,-100%);
            }
            .rond_centre
            {
                width: 10px;
                height: 10px;
            } 
            .cercle
            {
                width: 30px;
                height: 30px;
            } 
            .dotted_cercle
            {
                width: 46px;
                height: 46px; 
            }
        }
        &__right
        {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            overflow: hidden;
            &__1
            {
                right: -130%;
            }
            &__2
            {
                right: -110%;
                transition: all 0.5s;
                &:hover
                {
                    height: 16vw; 
                }
            }
            &__3
            {
               right: -130%;
            }
            &__4
            {
                right: -110%;
                transition: all 0.5s;
                &:hover
                {
                    height: 16vw; 
                } 
            }
        }
    }
}

.h1
{
    margin-top: 100px;
    margin-bottom: 130px;
    white-space: nowrap;
    text-align: center;
    font-size: 160px;
    font-weight: 900;  
    width: 100%;
    overflow: hidden;
    h1
    {
        position: relative;
        left: -250px;   
    }
}

.footer
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    &__left
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            .email
            {
                width: 60%;
                height: 100%;
                border-radius: 30px 0 0 30px;
                input
                {
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    height: 100%;
                    border-radius: 30px 0 0 30px;
                    box-sizing: border-box;
                    padding: 0 10px;
                    background-color: #6bbeca;
                }
            }
            .subscribe
            {
                width: 40%;
                height: 100%;
                font-size: 14px;
                font-weight: 700; 
                color: $baseTxt;
                border-radius: 0 30px 30px 0;
                background-image: linear-gradient(to right, $linear_btn_footer1, $linear_btn_footer2);
            }
        }
        &__info
        {
            width: 80%;
            font-size: 10px;
            text-align: center;
            margin: 10px auto;
        }
    }
    &__center
    {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__btn
        {
            width: 100%;
            height: 40px;
            font-size: 20px;   
            font-weight: 900; 
            margin-bottom: 30px;    
        }
        &__logos
        {
            margin: 10px auto;
            display: flex;
            justify-content: space-between;
            width: 120px;
            height: 40px;
            img
            {
                max-height: 100%;
                height: 100%;
                width: auto;
            }
        }
        p
        {
            margin: 10px 0;
            width: 100%;
            font-size: 10px;
            text-align: center;
        }
    }
    &__right
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            position: relative;
            top: -30px;
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            
            .contact
            {
                width: 40%;
                height: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                color: $baseTxt; 
                border-radius: 30px 0 0 30px;
                background-image: linear-gradient(to left, $linear_btn_footer1, $linear_btn_footer2);
            }
            .contactEmail
            {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                color: black; 
                justify-content: center;
                background-color: #6bbeca;
                border-radius: 0 30px 30px 0;
            }
        }
    }
}

.rond-type1
{ 
    margin-right: 20px; 
    position: relative;
    &__center
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        width: 13%;
        height: 13%;
        border-radius: 50%;
        background-color: $bordure;
    }
    &__cercle1
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        height: 42%;
        width: 42%;
        border-radius: 50%;
        border: solid 1px $bordure;
    }
    &__dottedCercle
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 62%;
        width: 62%; 
        border-radius: 50%;
        border: dashed 1px $bordure; 
    } 
    &__cercle2
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        border-radius: 50%; 
        height: 100%;
        width: 100%;
        box-sizing: border-box; 
        border: solid 1px $bordure;
    }
}

.rond-type2
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    &__center
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        width: 19%;
        height: 19%;
        border-radius: 50%;
        background-color: $bordure;
    }
    &__cercle1
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        height: 63%;
        width: 63%;
        border-radius: 50%;
        border: solid 1px $bordure;
    }
    &__dottedCercle
    {
        height: 100%;
        width: 100%; 
        border-radius: 50%;
        border: dashed 1px $bordure;
        box-sizing: border-box; 
    }
}

@media screen and (min-width: 1700px) {
    .accueil
    {
        &__div_txt
        {
            .innovative
            {
                font-size: 70px;
                line-height: 70px;
            }
            .digital
            {
                font-size: 90px;
                line-height: 130px;   
            }
            .art
            {
                font-size: 90px;
                line-height: 90px; 
            }
        }
        &__div_description
        {
            font-size: 30px;
        }
    }
} 

@media screen and (max-width: 1000px) {
    .accueil
    {
        &__div_txt
        {
            .innovative
            {
                font-size: 40px;
                line-height: 40px;
            }
            .digital
            {
                font-size: 50px;
                line-height: 90px;   
            }
            .art
            {
                font-size: 50px;
                line-height: 60px; 
            }
        }
        &__div_description
        {
            font-size: 20px;
        }
    }
} 