@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');

//<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

h3
{
    font-size: 36px; 
}

::-webkit-scrollbar
{
    width: 10px; 
}

::-webkit-scrollbar-track {
    border: none;
    background-color: transparent; 
} 

::-webkit-scrollbar-thumb
{
    background-color: #001927;
    border-radius: 20px;
}

$baseTxt: #f3f3f4;
$bordure: #f3f3f4;

$linear_titre: linear-gradient(to right, #8763dd , #43d5ae);

//$linear_titre1: #73cdda;
//$linear_titre2: #437b81;
$linear_btn_footer1: #185263;
$linear_btn_footer2: #2b3546;

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Montserrat"; //font-style: italic; pour l'italic
}

.body
{ 
    background-image: url("../img/bg_small.png");
    background-size: cover;
    color: $baseTxt;  
    display: flex;   
    flex-direction: column; 
    align-items: center;
    margin: 0 auto;
    min-width: 1000px; 
    max-width: 1700px;
}

.btn_bg
{
    border-radius: 28px;
    background-image: linear-gradient(to right, #8763dd, #43d5ae);
    color: black;
    font-size: 14px;
    font-weight: 900; 
    border: none;
    cursor: pointer;
}

.barreSeparation
{
    background-color: $bordure;
    height: 1px;
    margin: 0 auto;
    margin-bottom: 50px; 
}


.accueil
{
    height: fit-content;
    min-width: 100%;  
    padding-bottom: 20px; 
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 150px;
    .video_container
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; 
    }
    &__bloc
    {
        border-radius: 54px;
        position: relative;
        left: -40px;
    }
    .bloc1
    {
        margin-top: 5%;
        //height: 75%;
        width: 7.1%;
        min-width: 7.1%;
        margin-right: 1.4%;
        //background-image: url("../img/bloc1_bg.png");
        //background-size: contain   
    }
    .bloc2
    {
        margin-top: 9.4%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 1%;
        //background-image: url("../img/bloc2_bg.png");
        //background-size: contain;
    }
    .bloc3
    {
        margin-top: 13%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 9.2%;
        //background-image: url("../img/bloc3_bg.png");
        //background-size: contain;
    }
    .bloc4
    {
        margin-top: 27%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 1%;
        //background-image: url("../img/bloc4_bg.png");
        //background-size: contain;
    }
    .bloc5
    {
        margin-top: 34%; 
        height: fit-content;
        min-width: 25%;
        margin-right: 1%;
        //background-image: url("../img/bloc5_bg.png");
        //background-size: contain;
    }
    .bloc6
    {
        margin-top: 3.5%;
        height: fit-content;
        min-width: 7.1%;
        //background-image: url("../img/bloc6_bg.png");
        //background-size: contain;
    }
    .rond3
    {
        margin: 13% 1% 0 1%; 
        position: relative;
        left: -40px;
        min-width: 7%;
        height: fit-content;
        padding-top: 7%; 
    }
    .bloc7
    {
        margin-top: 7%;
        //height: 60%;
        height: fit-content;
        min-width: 7.1%;
        margin-right: 1.2%;
        //background-image: url("../img/bloc7_bg.png");
        //background-size: contain;
    }
    .bloc8
    {
        margin-top: 2%;
        height: fit-content;
        //height: 86%;
        min-width: 7.1%;
        margin-right: 1%;
        //background-image: url("../img/bloc8_bg.png");
        //background-size: contain;
    }  
    .bloc9
    {
        margin-top: 9.8%;
        height: fit-content;
        //height: 60%;
        min-width: 7.1%;
        //background-image: url("../img/bloc9_bg.png");
        //background-size: contain; 
    }
    img
    {
        width: 100%;
        max-width: 100%;
    }
    &__div_txt
    {
        position: absolute;
        width: 42%;  
        margin-top: 15%;
        left: 21%;  
        display: flex;
        flex-direction: column;
        align-items: flex-end; 
        .innovative
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start; 
            font-size: 4vw;
            line-height: 4vw;
            &__o
            {
                height: 4.6vw; 
                width: 4.6vw; 
                border-radius: 2.3vw 2.3vw 2.3vw 2.3vw;        
                border: 1vw solid transparent;
                background: linear-gradient(to right, #001927, #001a2d) padding-box, $linear_titre border-box;
            } 
        }
        .digital 
        {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            font-size: 5.2vw;
            font-weight: 700; 
            line-height: 8vw;   
            -webkit-text-fill-color: transparent;  
            -webkit-text-stroke-width: 1px; 
            .rond1{
                width: 14%;
                padding-top: 14%;
            }
        }
        .art
        {
            width: 100%; 
            display: flex;
            align-items: center;
            font-size: 5.2vw;
            line-height: 5.2vw;
            justify-content: flex-end;
            .rond2{ 
                width: 14%;
                padding-top: 14%;
            }
        }
    }
    &__div_description
    {
        position: absolute;
        margin-top: 42.5%; 
        left: 39%; 
        width: 45%; 
        h3
        {
            font-size: 1.5vw;
            font-style: italic; 
            font-weight: 200; 
        }
    }
}

.separation2
{
    width: 36%;
    bottom: -150px;  
}

.ecosystem
{
    height: fit-content; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding: 100px 0 70px 0;   

    &__bloc
    {
        width: 80%;   
        height: fit-content;
        padding: 5vw 4vw;  
        border-radius: 30px;
        background-color: rgba(255,255,255,0.05);

        display: flex;
        align-items: center;
        justify-content: space-between;
        &__left
        {
            width: 48%;
            height: fit-content;
            display: flex;
            flex-direction: column;
            align-items: center;
            .title
            {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80%;  
                margin-bottom: 6px;
                color: $bordure;
                &__triangle_left
                {
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0.57vw 1vw 0.57vw 0;
                    border-color: transparent $bordure transparent transparent;
                }
                h3
                {
                    font-size: 44px; 
                    margin: 0 15px;
                } 
                &__triangle_right
                {
                    width: 0;
                    height: 0;
                    border-style: solid; 
                    border-width: 0.57vw 1vw 0.57vw;
                    border-color: transparent transparent transparent $bordure;
                }
                &__separation
                {
                    margin-top: 10px;
                    width: 80%;
                    height: 1px; 
                    background-image: $linear_titre;
                }
            }
            .description
            {
                width: 80%; 
                margin-top: 4vw;  
                p
                {
                    margin-bottom: 20px;
                    text-align: justify; 
                    text-justify: inter-word;  
                } 
            }
        }
        &__right 
        {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            img
            {
                width: 100%; 
            }
        }
    }
}

.collection
{
    height: fit-content; 
    width: 100%;
    margin-top: 50px;
    &__title
    {
        font-size: 36px;
        width: fit-content; 
        color: transparent;
        background-image: $linear_titre;  
        background-clip: text;
        -webkit-background-clip: text;
        margin-left: 5%; 
        margin-bottom: 15px; 
    }  
    &__header
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 90%; 
        margin: 0 auto;
        border-style: solid none solid none;
        border-color: $bordure;
        border-width: 1px;
        padding: 15px 5%; 
        &__left
        {
            height: fit-content;
            width: fit-content;
            margin-right: auto; 
            .titles_top
            {
                display: flex;
                align-items: center;
                height: fit-content;
                margin-bottom: 10px; 
                .collectionArtist
                {
                    font-size: 18px;
                    font-weight: 800;
                }
                .collectionName
                {
                    font-size: 18px;
                    font-style: italic;
                    font-weight: 900;
                }
            }
            .titles_bottom
            {
                display: flex;
                align-items: center;
                height: fit-content;
                font-size: 20px;   
            }
            .small_rond_separation
            {
                height: 0.4vw;
                width: 0.4vw; 
                border-radius: 50%;
                background-color: $bordure;
                margin: 0 15px;
            }
            .big_rond_separation
            {
                height: 1.4vw;
                width: 1.4vw; 
                border-radius: 50%;
                background-image: $linear_titre;
                margin: 0 15px;
            }
        }
        &__right
        {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            height: fit-content;
            img
            {
                width: 8%;
                border-radius: 50%;
                margin-left: 5px; 
            }
            .div_sep
            {
                height: 100%;
                width: 1px;
            }
        }
    }
    &__carroussel
    {
        width: 100%;
        height: fit-content; 
        margin: 30px 0; 
        overflow: hidden;
        .ligne 
        {
            display: flex;
            align-items: center;
            height: 18vw;
            img
            {
                height: 85%; 
                width: auto; 
                border-radius: 25px;  
                margin: 0 5px;
                transition: all 0.4s; 
                // &:hover
                // {
                //     cursor: pointer;
                //     transform: scale(115%);  
                //     margin: 0 15px;    
                // }
                &:hover
                {
                    cursor: pointer;
                    transform: rotate(20deg);
                }
            }
            .nftLigne1
            {
                position: relative;
                left: -60px;
            }
            .nftLigne2
            {
                position: relative;
                left: -15px;
            }
        }
    }
}

.separation4
{
    width: 36%; 
    margin-top: 20px; 
}

.services
{
    margin-top: 80px; 
    height: 2000px; 
    h3 
    {
        margin: 0 auto;
        width: 100%;
        width: fit-content;
        font-size: 36px; 
        color: transparent;
        background-image: $linear_titre;  
        background-clip: text;
        -webkit-background-clip: text; 
    }
    p
    {
        width: 80%;
        margin: 40px auto 55px auto;
    }
    &__main
    {
        display: flex;
        align-items: center;
        height: fit-content;  
        width: 100%;
        font-size: 3vw;   
        font-weight: 900; 
        .services_bloc
        {
            height: 6vw;  
            width: 100%;
            padding: 0 3vw;
            border-radius: 45px;    
            margin-bottom: 2vw;    
            border: solid $bordure 1px;
            box-sizing: border-box;
            position: relative;
            overflow: hidden; 
            transition: all 0.5s;
            h4
            {
                font-size: 30px; 
                margin-left: 40%;  
                margin-top: 1.2vw; 
            }
            p
            {
                text-align: justify;
                text-justify: inter-word;
                font-size: 12px; 
                font-weight: 200; 
            }
        }
        &__left
        {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            overflow: hidden;
            &__1
            {
                left: -110%;
                justify-content: flex-end;
                transition: all 0.5s;
                &:hover
                {
                    height: 16vw; 
                }
            }
            &__2
            {
                left: -130%;
            }
            &__3
            {
                left: -110%;
                justify-content: flex-end;
                transition: all 0.5s;
                &:hover
                {
                    height: 16vw; 
                }
            }
            &__4
            {
                left: -130%;
                margin-bottom: 0px;  
            }
        }
        &__center
        {
            width: 4%;
            height: 400px;    
            display: flex;
            flex-direction: column;
            overflow: hidden; 
            align-items: center;
            position: relative; 
            z-index: 15000; 
            .ligneCentrale
            {
                margin: auto auto; 
                height: 90%;
                width: 1px;
                border: none; 
                border-right: 1px dashed $bordure; 
            }
            .rond1
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box;
                position: absolute;
                margin: 0 auto; 
                top: 0%;
            }
            .rond2
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box;
                position: absolute;
                margin: 0 auto; 
                top: 33.3%;
                transform: translate(0%,-33.3%);    
            }
            .rond3
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box;
                position: absolute;
                margin: 0 auto; 
                top: 66.6%;
                transform: translate(0%,-66.6%);
            }
            .rond4
            {
                width: 100%;
                padding-top: 100%;
                box-sizing: border-box; 
                position: absolute;
                margin: 0 auto; 
                top: 100%; 
                transform: translate(0%,-100%);
            }
            .rond_centre
            {
                width: 10px;
                height: 10px;
            } 
            .cercle
            {
                width: 30px;
                height: 30px;
            } 
            .dotted_cercle
            {
                width: 46px;
                height: 46px; 
            }
        }
        &__right
        {
            width: 48%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            overflow: hidden;
            &__1
            {
                right: -130%;
            }
            &__2
            {
                right: -110%;
                &:hover
                {
                    height: 16vw; 
                }
            }
            &__3
            {
               right: -130%;
            }
            &__4
            {
                right: -110%;
                margin-bottom: 0px;  
                &:hover 
                {
                    height: 16vw; 
                } 
            }
        }
    }
}

.h1
{
    margin-top: 100px; 
    white-space: nowrap;
    text-align: center;
    font-size: 160px;
    font-weight: 900;  
    width: 100%;
    overflow: hidden;
    h1
    {
        position: relative;
        left: -250px; 
    }  
}

.footer
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    &__left
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            .email
            {
                width: 60%;
                height: 100%;
                border-radius: 30px 0 0 30px;
                input
                {
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    height: 100%;
                    border-radius: 30px 0 0 30px;
                    box-sizing: border-box;
                    padding: 0 10px;
                    background-color: #6bbeca;
                }
            }
            .subscribe
            {
                width: 40%;
                height: 100%;
                font-size: 14px;
                font-weight: 700; 
                color: $baseTxt;
                border-radius: 0 30px 30px 0;
                background-image: linear-gradient(to right, $linear_btn_footer1, $linear_btn_footer2);
            }
        }
        &__info
        {
            width: 80%;
            font-size: 10px;
            text-align: center;
            margin: 10px auto;
        }
    }
    &__center
    {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        &__btn
        {
            height: 70px; 
            width: 250px;  
            border-radius: 55px;   
            border: 5px solid transparent;
            background: linear-gradient(to right, #06122f, #0a0e2d) padding-box, $linear_titre border-box;
            font-size: 20px; 
            color: $baseTxt; 
            font-weight: 900; 
            margin-bottom: 30px;    
        }
        &__nav
        {
            display: flex;
            width: fit-content;
            margin-bottom: 30px;
            .footer__lien
            {
                margin-top: 15px;
                text-decoration: none;
                margin-right: 20px;
                font-weight: 500; 
                color: $baseTxt; 
                &:hover
                {
                    color: $baseTxt;
                }  
            }
            .last
            {
                margin-right: 0px;
            }
        }
        &__logos
        {
            margin: 10px auto;
            display: flex;
            justify-content: space-between;
            width: 120px;
            height: 40px;
            img
            {
                max-height: 100%;
                height: 100%;
                width: auto;
            }
        }
        p
        {
            margin: 10px 0;
            width: 100%;
            font-size: 10px;
            text-align: center;
        }
    }
    &__right
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            position: relative;
            top: -30px;
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            
            .contact
            {
                width: 40%;
                height: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                color: $baseTxt; 
                border-radius: 30px 0 0 30px;
                background-image: linear-gradient(to left, $linear_btn_footer1, $linear_btn_footer2);
            }
            .contactEmail
            {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                color: black; 
                justify-content: center;
                background-color: #6bbeca;
                border-radius: 0 30px 30px 0;
            }
        }
    }
}

.rond-type1
{ 
    margin-right: 20px; 
    position: relative;
    &__center
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        width: 13%;
        height: 13%;
        border-radius: 50%;
        background-color: $bordure;
    }
    &__cercle1
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        height: 42%;
        width: 42%;
        border-radius: 50%;
        border: solid 1px $bordure;
    }
    &__dottedCercle
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 62%;
        width: 62%; 
        border-radius: 50%;
        border: dashed 1px $bordure; 
    } 
    &__cercle2
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        border-radius: 50%; 
        height: 100%;
        width: 100%;
        box-sizing: border-box; 
        border: solid 1px $bordure;
    }
}

.rond-type2
{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    &__center
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        width: 19%;
        height: 19%;
        border-radius: 50%;
        background-color: $bordure;
    }
    &__cercle1
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);  
        height: 63%;
        width: 63%;
        border-radius: 50%;
        border: solid 1px $bordure;
    }
    &__dottedCercle
    {
        height: 100%;
        width: 100%; 
        border-radius: 50%;
        border: dashed 1px $bordure;
        box-sizing: border-box; 
    }
}

@media screen and (min-width: 1700px) {
    .accueil
    {
        &__div_txt
        {
            .innovative
            {
                font-size: 70px;
                line-height: 70px;
            }
            .digital
            {
                font-size: 90px;
                line-height: 130px;   
            }
            .art
            {
                font-size: 90px;
                line-height: 90px; 
            }
        }
        &__div_description
        {
            font-size: 30px;
        }
    }
} 

@media screen and (max-width: 1000px) {
    .accueil
    {
        &__div_txt
        {
            .innovative
            {
                font-size: 40px;
                line-height: 40px;
            }
            .digital
            {
                font-size: 50px;
                line-height: 90px;   
            }
            .art
            {
                font-size: 50px;
                line-height: 60px; 
            }
        }
        &__div_description
        {
            font-size: 20px;
        }
    }
} 