@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');


$baseTxt: #f3f3f4;
$bordure: #f3f3f4;

$linear_titre: linear-gradient(to right, #73cdda, #437b81);

//$linear_titre1: #73cdda;
//$linear_titre2: #437b81;
$linear_btn_footer1: #185263;
$linear_btn_footer2: #2b3546;

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Montserrat"; //font-style: italic; pour l'italic
}

.cliquable
{
    display: block;
    height: fit-content;
    width: fit-content;
}

.body
{
    background-image: url("../img/background.svg");
    background-size: cover; 
    color: $baseTxt;
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-width: 1000px; 
    max-width: 1700px;
}

.btn_bg
{
    border-radius: 28px;
    background-image: linear-gradient(to right, #71c9d7, #478088);
    color: black;
    font-size: 14px;
    font-weight: 900; 
    border: none;
    cursor: pointer;
}

.barreSeparation
{
    background-color: $bordure;
    height: 1px;
}

.header
{
    display: flex;
    padding-top: 20px;
    height: 80px;
    width: 100%; 
    &__logo
    {
        height: 50px;
        width: auto;
        margin: 7px 50px 0 63px;
    }
    &__center
    {
        display: flex;
        position: relative; 
        width: calc(100% - 358px); 
        &__center1
        {
            display: flex;
            position: relative;
            margin-right: auto; 
            .center1__recherche
            {
                display: flex;
                align-items: center; 
                justify-content: space-between;
                height: 45px;
                max-width: 90px;
                border-radius: 30px;
                background-color: none;
                border: solid $bordure 1px;
                margin-top: 2.5px;
                margin-right: 40px;
                img
                {
                    margin-top: 2px; 
                    margin-left: 8px; 
                    height: 50%; 
                }
                input
                {
                    max-width: 60%;
                    height: 100%; 
                    background: none;
                    border: none;
                    color: $baseTxt;
                    border-radius: 0 30px 30px 0;
                }
            }
            .center1__boutonArtist
            {
                height: 40px;
                width: 170px;
                min-width: 130px;
                margin-top: 5px; 
                cursor: not-allowed;
            }
        }
        
        &__center2
        {
            display: flex;
            .center2__lien
            {
                margin-top: 15px;
                text-decoration: none;
                margin-right: 40px;
                color: #a7a9ac; 
                font-style: italic;
                &:hover
                {
                    color: $baseTxt;
                }  
            }
        }
        .separation1
        {
            width: 100%;
            position: absolute;
            bottom: 0px;
        }
    }
    &__boutonSign
    {
        height: 50px;
        width: 120px; 
        min-width: 80px;
        margin-right: 25px; 
    }
}

.main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    &__info
    {
        width: 60%;  
        height: fit-content;
        margin: 100px auto; 
        padding: 15px 5px;
        display: flex;
        align-items: center; 
        justify-content: center;
        &__left
        {
            display: flex;
            align-items: center;
            height: 100%; 
            width: fit-content; 

            font-size: 18px;
            font-weight: 800; 

            border-radius: 15px; 
            background-color: rgba(255,255,255,0.2);
            margin-right: 30px; 
            padding: 5px 5px 5px 20px;  
            .reward_img
            {
                height: 5vw;
                margin-left: 20px;
            }
        }
        &__right
        {
            font-size: 12px; 
            font-weight: 500; 
            width: 40%;
            height: 100%;
        }
    }
    &__trendyChallenges_title
    {
        width: 80%;
        display: flex;
        height: fit-content;
        margin: 40px 0 30px 0; 
    }
    &__trendyChallenges
    {
        width: 80%;
        height: fit-content;
        display: flex;
        justify-content: space-between; 
        &__bloc
        {
            height: fit-content;
            width: 45%;
            border-radius: 30px;
            padding: 20px 20px; 
            background-color: rgba(255,255,255,0.2);
            transition: all 0.5s;  
            cursor: pointer;
            .challenge_type
            {
                width: 20%;
                height: fit-content;
                background-color: rgba(255,255,255,0.2);
                padding: 5px;
                margin: 5px 0 30px 0; 
                border-radius: 10px; 
                text-align: center;
                font-size: 1vw; 
            }
            .challenge_title
            {
                margin: 20px 0 10px 0;
                font-size: 16px;
            }
            .challenge_description
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                p
                {
                    max-width: 60%;
                }
            }
            &:hover
            {
                transform: scale(115%);
            }
        }
    }
    &__div
    {
        margin: 60px 0; 
        width: 100%;
        height: 300px;
        h4
        {
            font-size: 16px;
            width: 100%;
            height: auto;
            text-align: center;
            margin: 20px 0;
        }
        p
        {
            width: 100%;
            text-align: center; 
        }
    }
    &__nav
    {
        width: 40%;
        height: fit-content;
        margin: 10px 0 60px 0; 
        position: relative;
        display: flex;
        &__bloc
        {
            height: fit-content;
            width: 33.3%;
            padding: 5px 15px;
            font-size: 2vw;      
            h5
            { 
                width: 100%;
                text-align: center; 
            }
        }
        &__selection
        {
            width: 25%;
            height: 1px;
            background-color: $bordure;
            position: absolute;
            bottom: 0px;
            left: 71.2%;       
        }
    }
    &__account
    {
        width: 40%;
        height: fit-content;
        margin-top: 30px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255,255,255,0.2); 
        border-radius: 30px; 
        margin-bottom: 50px;
        img
        {
            width: 15%;
            height: auto;
            margin-bottom: 10px;
        }
        .wallet
        {
            color: #71c9d7;
            margin-bottom: 20px;
        }
        &__info
        {
            width: fit-content;
            display: flex;
            align-items: center; 
            margin-bottom: 30px;
            h6
            {
                font-size: 1vw;
                margin-right: 15px;
            }
            p
            {
                font-size: 0.5vw;
            }
        }
        &__social
        {
            display: flex;
            width: fit-content; 
            height: fit-content;
            .media
            {
                width: fit-content;
                height: fit-content;
                padding: 3px;
                font-size: 1vw;
                background-color: rgba(255,255,255,0.2);
                border-radius: 3px;  
                transition: all 0.5s; 
                &:hover
                {
                    transform: scale(115%);
                    cursor: pointer;
                }
            }
            .media1
            {
                margin-right: 30px; 
            }
        }
    }
    &__rewardBloc
    {
        width: 80%;
        height: fit-content;
        padding: 20px 80px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgba(255,255,255,0.2); 
        margin: 50px 0;
        border-radius: 25px;
        transition: all 0.3s; 
        &__level
        {
            h4
            {
                font-size: 1.2vw;
                margin-bottom: 10px;
            }
            p
            {
                font-size: 0.6vw;
            }
        }
        &__info
        {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 40%; 
            text-align: center;
            .title
            {
                font-size: 1vw;
                margin-bottom: 10px;
            }
            p
            {
                font-size: 0.6vw;
            } 
        }
        &__img
        {
            height: 4vw;
            width: 4vw;
            position: relative;
            img
            {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                height: 9vw;  
            }
        }
        &:hover
        {
            cursor: pointer;
            background-color: rgba(255,255,255,0.25); 
        }
    }
}

.h1
{
    margin-top: 150px; 
    margin-bottom: 130px;
    white-space: nowrap;
    text-align: center;
    font-size: 160px;
    font-weight: 900;  
    width: 100%;
    overflow: hidden;
    h1
    {
        position: relative;
        left: -250px;   
    }
}

.footer
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    &__left
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            .email
            {
                width: 60%;
                height: 100%;
                border-radius: 30px 0 0 30px;
                input
                {
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    height: 100%;
                    border-radius: 30px 0 0 30px;
                    box-sizing: border-box;
                    padding: 0 10px;
                    background-color: #6bbeca;
                }
            }
            .subscribe
            {
                width: 40%;
                height: 100%;
                font-size: 14px;
                font-weight: 700; 
                color: $baseTxt;
                border-radius: 0 30px 30px 0;
                background-image: linear-gradient(to right, $linear_btn_footer1, $linear_btn_footer2);
            }
        }
        &__info
        {
            width: 80%;
            font-size: 10px;
            text-align: center;
            margin: 10px auto;
        }
    }
    &__center
    {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__btn
        {
            width: 100%;
            height: 40px;
            font-size: 20px;   
            font-weight: 900; 
            margin-bottom: 30px;    
        }
        &__logos
        {
            margin: 10px auto;
            display: flex;
            justify-content: space-between;
            width: 120px;
            height: 40px;
            img
            {
                max-height: 100%;
                height: 100%;
                width: auto;
            }
        }
        p
        {
            margin: 10px 0;
            width: 100%;
            font-size: 10px;
            text-align: center;
        }
    }
    &__right
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            position: relative;
            top: -30px;
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            
            .contact
            {
                width: 40%;
                height: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                color: $baseTxt; 
                border-radius: 30px 0 0 30px;
                background-image: linear-gradient(to left, $linear_btn_footer1, $linear_btn_footer2);
            }
            .contactEmail
            {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                color: black; 
                justify-content: center;
                background-color: #6bbeca;
                border-radius: 0 30px 30px 0;
            }
        }
    }
}
