@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300&display=swap');


$baseTxt: #f3f3f4;
$bordure: #f3f3f4;
$transparent_bg: rgba(255,255,255,0.05);   

$linear_titre: linear-gradient(to right, #be49df, #43d4af);

//$linear_titre1: #73cdda;
//$linear_titre2: #437b81;
$linear_btn_footer1: #185263;
$linear_btn_footer2: #2b3546;

*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    font-family: "Montserrat"; //font-style: italic; pour l'italic
}

.title_sep
{
    height: 1px;
    width: 25%;    
    margin: 15px auto 50px auto; 
    background-image: $linear_titre; 
} 

.cliquable
{
    display: block;
    height: fit-content;
    width: fit-content;
}

.body
{
    background-image: url("../img/background.svg");
    background-size: cover; 
    color: $baseTxt;
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin: 0 auto; 
    min-width: 1200px;
    max-width: 2500px; 
}

.btn_bg
{
    border-radius: 28px;
    background-image: linear-gradient(to right, #8763dd, #43d5ae);
    color: black;
    font-size: 14px;
    font-weight: 900; 
    border: none;
    cursor: pointer;
}

.barreSeparation
{
    background-color: $bordure;
    height: 1px;
}

.header
{
    display: flex;
    padding-top: 20px;
    height: 80px;
    width: 100%; 
    &__logo
    {
        height: 50px;
        width: auto;
        margin: 7px 50px 0 63px;
    }
    &__center
    {
        display: flex;
        position: relative; 
        width: calc(100% - 358px); 
        &__center1
        {
            display: flex;
            position: relative;
            margin-right: auto;  
            .center1__recherche
            {
                display: flex;
                align-items: center; 
                justify-content: space-between;
                height: 45px;
                max-width: 90px;
                border-radius: 30px;
                background-color: none;
                border: solid $bordure 1px;
                margin-top: 2.5px;
                margin-right: 40px;
                img
                {
                    margin-top: 2px; 
                    margin-left: 8px; 
                    height: 50%; 
                }
                input
                {
                    max-width: 60%;
                    height: 100%; 
                    background: none;
                    border: none;
                    color: $baseTxt;
                    border-radius: 0 30px 30px 0;
                }
            }
            .center1__boutonArtist
            {
                height: 40px;
                width: 170px;
                min-width: 130px;
                margin-top: 5px; 
                cursor: not-allowed;
            }
        }
        
        &__center2
        {
            display: flex;
            .center2__lien
            {
                margin-top: 15px;
                text-decoration: none;
                margin-right: 40px;
                color: #a7a9ac; 
                font-style: italic;
                &:hover
                {
                    color: $baseTxt;
                }  
            }
        }
        .separation1
        {
            width: 100%;
            position: absolute;
            bottom: 0px;
        }
    }
    &__boutonSign
    {
        height: 50px;
        width: 120px; 
        min-width: 80px;
        margin-right: 25px; 
    }
}
.infoBloc
{
    position: relative;
    padding: 5px 15px; 
    border-radius: 30px;
    width: 40%; 
    height: fit-content; 
    margin: 150px auto 60px auto;
    background: linear-gradient(to right, #30204e, #1a3850) padding-box, $linear_titre border-box;
    border: 5px solid transparent;
    h2
    {
        margin-bottom: 5px;
        font-size: 1.8vw;
        font-weight: 900;
    } 
    h3
    {
        margin-bottom: 10px; 
        font-size: 1.1vw; 
        font-style: italic; 
        font-weight: 100; 
    }
    img
    {
        position: absolute;
        left: 100%;    
        top: 10%;  
        width: 40%; 
        transform: translate(-50%,-50%);
    } 
}

.trendyChallenges_title
{
    width: fit-content;  
    padding: 0 15px;
    height: fit-content;
    margin: 40px auto 0 auto; 
    font-size: 1.8vw; 
    font-weight: 900; 
    color: transparent;
    background-image: $linear_titre;
    background-clip: text; 
    -webkit-background-clip: text; 
}

.trendyChallenges 
{
    width: 65%;  
    height: fit-content;
    display: flex;
    justify-content: space-between;
    &__bloc
    {
        min-height: 100%; 
        width: 48%; 
        border-radius: 20px; 
        padding: 20px 20px; 
        background-color: $transparent_bg;
        transition: all 0.5s;  
        cursor: pointer;
        &__info
        {
            width: fit-content; 
            height: 34px; 
            display: flex;
            align-items: center; 
            text-align: center;
            margin-bottom: 20px;   
            .infoType
            { 
                display: flex;
                align-items: center; 
                margin-right: 20px; 
                height: 100%;  
                width: 45%;    
                background-color: rgba($color: #000000, $alpha: 0.2); 
                border-radius: 30px; 
                img
                {
                    border-radius: 50%;
                    max-width: 20%;
                    height: auto;
                }
                h4
                {
                    margin-left: 15px;
                    font-weight: 300; 
                    font-size: 1vw; 
                }
            }
            .infoXP
            { 
                width: 15%;      
                height: 100%;  
                border-radius: 20px; 
                background: linear-gradient(to right, #30204e, #1a3850) padding-box, $linear_titre border-box;
                border: 2px solid transparent;
                display: flex;
                align-items: center;
                p
                {
                    height: fit-content; 
                    font-weight: 700;
                    font-size: 12px;
                    margin: auto;
                } 
            }
        }
        .bloc__div__flex
        {
            display: flex;
            align-items: center;
        }
        &__left
        {
            width: 55%;
            &__title
            {
                padding-top: 15px;  
                font-size: 16px;
            }
            &__description 
            {
                margin-top: 15px; 
                position: relative;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p
                {
                    max-width: 90%;
                    font-size: 12px;
                    font-weight: 300; 
                }
            }
        } 
        &__right 
        {
            display: flex;
            width: 45%; 
            align-items: center;
            justify-content: center;
            img
            {
                width: 70%;
            }
        }
        &:hover
        {
            transform: scale(115%);
        }
    }
}

.main__div
{
    margin: 60px 0; 
    width: 100%;
    height: 300px;
    h4
    {
        font-size: 16px;
        width: 100%;
        height: auto;
        text-align: center;
        margin: 20px 0;
    }
    p
    {
        width: 100%;
        text-align: center; 
    }
}

.nav
{
    width: 40%;
    height: fit-content;
    margin: 10px 0 60px 0; 
    position: relative;
    display: flex;
    &__bloc
    {
        height: fit-content;
        width: 33.33%;
        padding: 5px 15px;
        font-size: 1.8vw;       
        h5
        { 
            width: 100%;
            text-align: center; 
        } 
    }
    &__selection
    {
        width: 20%;   
        height: 2px; 
        background-image: $linear_titre; 
        position: absolute;
        bottom: 0px;
        left: 83%;       
        transform: translate(-50%,-50%);        
    }
}

.carroussel
{
    overflow: hidden;
}

.account
{
    width: 50%;  
    height: fit-content;
    margin: 30px auto; 
    padding: 15px 30px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: linear-gradient(to right, #30204e, #1a3850) padding-box, $linear_titre border-box;
    border: 4px solid transparent;  
    border-radius: 30px;
    margin-bottom: 50px;
    img
    {
        width: 30%; 
        height: auto;
        margin-bottom: 10px;
        border-radius: 25px;  
    }
    .username
    {
        font-size: 1.6vw; 

    }
    .wallet
    {
        font-weight: 300; 
        margin-bottom: 10px;
    }
    &__social
    {
        display: flex;
        width: 12%; 
        height: fit-content;
        justify-content: space-between;
        margin-bottom: 30px;
        img
        {
            width: 40%;  
        }
    }
    &__info
    {
        width: 100%; 
        display: flex;
        align-items: center; 
        justify-content: space-between;
        margin-bottom: 30px;
        h6
        {
            font-size: 2vw; 
        }
        p
        {
            font-size: 1.4vw;  
            font-weight: 300; 
        }
    }
    &__barreXP
    {
        height: 8px;   
        width: 100%;
        border-radius: 5px;
        background-image: $linear_titre;
        position: relative;
        &_point
        {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $bordure;
            position: absolute;
            transform: translate(-50%,-30%);   

        }
    }
}

.reward__title
{
    width: fit-content;
    margin: 30px auto; 
    font-size: 2vw;
    color: transparent;
    background-image: $linear_titre;
    background-clip: text; 
    -webkit-background-clip: text;
}

.rewardBloc
{
    width: 80%;
    height: fit-content;
    padding: 20px 50px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.08); 
    margin: 15px auto;
    border-radius: 25px;
    transition: all 0.3s; 
    &__level
    {
        height: 10vw;
        width: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: linear-gradient(to right, #222d48, #222d48) padding-box, $linear_titre border-box;
        border: 8px solid transparent;
        &__info
        {
            text-align: center;
        }
        h4
        {
            font-size: 1.8vw;
            margin-bottom: 5px;
        }
        p
        {
            font-size: 1.2vw;
        }
    }
    &__info
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 60%; 
        text-align: center;
        .title
        {
            font-size: 24px;
            font-weight: 900;
            margin-bottom: 10px;
        }
        p
        {
            font-size: 12px; 
            font-weight: 300; 
        } 
    }
    img
    {
        width: 15%;
        height: auto;
        border-radius: 25px;
    }
    &:hover
    {
        cursor: pointer;
        background-color: rgba(255,255,255,0.14); 
    }
}

.h1
{
    margin-top: 150px; 
    margin-bottom: 130px;
    white-space: nowrap;
    text-align: center;
    font-size: 160px;
    font-weight: 900;  
    width: 100%;
    overflow: hidden;
    h1
    {
        position: relative;
        left: -250px;   
    }
}

.footer
{
    width: 100%;
    display: flex;
    align-items: flex-end;
    margin-bottom: 15px;
    &__left
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            .email
            {
                width: 60%;
                height: 100%;
                border-radius: 30px 0 0 30px;
                input
                {
                    max-width: 100%;
                    width: 100%;
                    max-height: 100%;
                    height: 100%;
                    border-radius: 30px 0 0 30px;
                    box-sizing: border-box;
                    padding: 0 10px;
                    background-color: #6bbeca;
                }
            }
            .subscribe
            {
                width: 40%;
                height: 100%;
                font-size: 14px;
                font-weight: 700; 
                color: $baseTxt;
                border-radius: 0 30px 30px 0;
                background-image: linear-gradient(to right, $linear_btn_footer1, $linear_btn_footer2);
            }
        }
        &__info
        {
            width: 80%;
            font-size: 10px;
            text-align: center;
            margin: 10px auto;
        }
    }
    &__center
    {
        width: 34%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        &__btn
        {
            height: 100px; 
            width: 350px; 
            border-radius: 55px;   
            border: 5px solid transparent;
            background: linear-gradient(to right, #06122f, #0a0e2d) padding-box, $linear_titre border-box;
            font-size: 28px; 
            color: $baseTxt; 
            font-weight: 900; 
            margin-bottom: 30px;    
        }
        &__nav
        {
            display: flex;
            width: fit-content;
            margin-bottom: 30px;
            .footer__lien
            {
                margin-top: 15px;
                text-decoration: none;
                margin-right: 20px;
                color: #a7a9ac; 
                font-style: italic;
                &:hover
                {
                    color: $baseTxt;
                }  
            }
            .last
            {
                margin-right: 0px;
            }
        }
        &__logos
        {
            margin: 10px auto;
            display: flex;
            justify-content: space-between;
            width: 120px;
            height: 40px;
            img
            {
                max-height: 100%;
                height: 100%;
                width: auto;
            }
        }
        p
        {
            margin: 10px 0;
            width: 100%;
            font-size: 10px;
            text-align: center;
        }
    }
    &__right
    {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__div
        {
            position: relative;
            top: -30px;
            height: 40px;
            width: 80%;
            border-radius: 30px;
            display: flex;
            
            .contact
            {
                width: 40%;
                height: 100%;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                color: $baseTxt; 
                border-radius: 30px 0 0 30px;
                background-image: linear-gradient(to left, $linear_btn_footer1, $linear_btn_footer2);
            }
            .contactEmail
            {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                color: black; 
                justify-content: center;
                background-color: #6bbeca;
                border-radius: 0 30px 30px 0;
            }
        }
    }
} 
